.navigation{

  position: fixed;
  width: 8em;
  padding: 20px;
 
  height: 25px;
  width: 90%;
  left: 50px;
  right: 50px;
  
}

.menu{

  position: fixed;
  width: 50em;
  left: 55%;
  top: 28px;



}