body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    background-color: #cbc6c0;
  }

  .texto {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../image/Background1.png");
    min-height: 100%;
  }


  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 100px "Lato", sans-serif;
    color: rgb(255, 255, 255);
  }

  .cls-1, .cls-3 {
    fill: #f4f5f9;
  }

  .cls-1 {
    
    font-size: 65px;
    letter-spacing: 0.1em;
  }

  .cls-1, .cls-2 {
    font-family: OpenSans, Open Sans;
  }

  .cls-2 {
    fill: #cbc6c0;
    font-size: 14px;
  }

  .cls-3 {
    font-size: 24px;
    font-family: SegoeUI, Segoe UI;
    letter-spacing: 0.05em;
  }
    
.inicio{
    padding: 150px;
    position: relative;
    bottom: 600px;
    left: 40px;
   
  

 

}
    
    

 

  